import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import Tabs from '@theme/Tabs';

<Alert type="info">

If you are not familiar with Kubernetes, we recommend you to use Qovery on a Managed Kubernetes cluster on [AWS][docs.getting-started.install-qovery.aws.cluster-managed-by-qovery.quickstart], [GCP][docs.getting-started.install-qovery.gcp.cluster-managed-by-qovery.quickstart], [Scaleway][docs.getting-started.install-qovery.scaleway.cluster-managed-by-qovery.quickstart], [Azure][docs.getting-started.install-qovery.azure.cluster-managed-by-qovery.quickstart], or contact us.

</Alert>

Qovery Self-Managed (or BYOK: Bring Your Own Kubernetes) is a self-hosted version of Qovery. It allows you to install Qovery on your own Kubernetes cluster.
Read [this article](https://www.qovery.com/blog/kubernetes-cluster-managed-by-qovery-vs-self-managed-byok) to better understand the difference with the Managed Kubernetes by Qovery. In a nutshell, Qovery BYOK is for Kubernetes experts who want to manage their own Kubernetes cluster. In this version, Qovery does not manage the Kubernetes cluster for you.

<Alert type="warning">

Qovery automatically updates **ONLY** the Qovery applications (agent, shell-agent etc..) via the Qovery Helm chart. With the self-managed offer it will be up to you to manage any dependency components (ingress, dns, logging...), making sure they run with the right version over time.

The dependencies provided with the Qovery Helm chart are here to help you with the bootstrap, and are not maintained by Qovery. If you want to simplify the maintenance of your cluster, please look at [Qovery managed Kubernetes offer](https://www.qovery.com/pricing/).

</Alert>

## Prerequisites

<Assumption>

* You have a <%= cloudProviderTitle %> Kubernetes cluster up and running.
* You have a <%= cloudProviderTitle %> Kubernetes cluster with at least 4 CPUs and 8GB of RAM.
* You have `kubectl` installed and configured to access your <%= cloudProviderTitle %> Kubernetes cluster.
* You have `helm` installed.
* You have a Qovery account.

</Assumption>

## Install Qovery on your <%= cloudProviderTitle %> cluster

<Alert type="info">

Follow [this guide][docs.getting-started.install-qovery.local] to try Qovery on your local machine.

</Alert>

<Tabs
centered={true}
className={"rounded"}
defaultValue={"automatic"}
placeholder="Install Qovery"
select={false}
size={null}
values={[
{"group":"Install","label":"Automatic","value":"automatic"},
{"group":"Install","label":"Manual","value":"manual"},
]}>

<TabItem value="automatic">

<Steps headingDepth={3}>

<ol>

<li>

Install Qovery CLI by running the following command:

<%= qovery_install_cli() %>

</li>

<li>

Authenticate with Qovery by running the following command:

<%= qovery_sign_up_cli() %>

</li>

<li>

Set Qovery context:

```bash
qovery context set
```

</li>

<li>

Install Qovery on your <%= cloudProviderTitle %> cluster:

```bash
qovery cluster install
```

Respond to the prompts to install Qovery on your <%= cloudProviderTitle %> Kubernetes cluster.

</li>

</ol>

</Steps>

</TabItem>

<TabItem value="manual">

<Steps headingDepth={3}>

<ol>

<li>

Install [Helm][urls.helm] command line tool.

</li>

<li>

Add Qovery Helm repository.

<Alert type="warning">

Qovery Helm Chart is only available for users who have access to Qovery BYOK. [Request your access here](https://www.qovery.com/solutions/bring-your-own-kubernetes).

</Alert>

```bash
helm repo add qovery https://helm.qovery.com
helm repo update
```

</li>

<li>

Login to the [Qovery console][urls.qovery_console], create a cluster of type `Self-Managed`. At the end of the flow you will be able to download the `values.yaml` file associated with this cluster.

</li>

<li>

Now you can customize your values.yaml file based on your need. Learn more about the configuration in the [Configuration page][docs.getting-started.install-qovery.kubernetes.byok-config].

<Alert type="info">

Make sure that all fields having value `set-by-customer` are filled.

</Alert>

Learn more about the configuration in the [Configuration page][docs.getting-started.install-qovery.kubernetes.byok-config].

</li>

<li>

Install Qovery on your Kubernetes cluster.

```bash
helm upgrade --install --wait --atomic --create-namespace -n qovery -f <your-values-file.yaml> \
          --set services.certificates.cert-manager-configs.enabled=false \
          --set services.certificates.qovery-cert-manager-webhook.enabled=false \
          --set services.qovery.qovery-cluster-agent.enabled=false \
          --set services.qovery.qovery-engine.enabled=false \
          qovery qovery/qovery
```
* `-n qovery`: the namespace where Qovery and its dependencies will be installed
* `--set...`: override (only for the first deployment time, if you want to use Cert-Manager) to let cert-manager install its CRDs
* `-f your-values-file.yaml`: the values file you've downloaded, overrided with the Qovery config and your custom config
* `qovery/qovery`: name of the chart to deploy
* `qovery`: name of the release

If you want to use Cert-Manager, you can remove the `--set...` for the future updates (or if already installed):

```bash
helm upgrade --install --create-namespace -n qovery -f <your-values-file.yaml> --wait --atomic qovery qovery/qovery
```

</li>

</ol>

</Steps>

</TabItem>

</Tabs>

That's it, you can now use Qovery on your <%= cloudProviderTitle %> cluster.

Connect to the [Qovery console][urls.qovery_console] to validate that Qovery is properly installed and start deploying your applications.

## What's Next?

Now that you have Qovery installed on your Kubernetes cluster, you can check that Qovery is properly installed by following the [Validate Installation][docs.getting-started.install-qovery.kubernetes.validate-installation] guide.
