---
$schema: "/.meta/.schemas/guides.json"
title: Hello World. Deploy your first application.
description: How to deploy your first application with Qovery
series_position: 1
author_github: https://github.com/evoxmusic
tags: ["type: guide"]
---
import Steps from '@site/src/components/Steps';
import Alert from '@site/src/components/Alert';
import CodeExplanation from '@site/src/components/CodeExplanation';
import Assumptions from '@site/src/components/Assumptions';

Qovery is an easy way to deploy a full-stack application. Meaning, you can deploy a backend, frontend and a database seamlessly. In this guide, I'll show you how to deploy a template app.

<Assumptions>

* You have a [Github][urls.github] or [Gitlab][urls.gitlab] account

</Assumptions>

## Step by step tutorial
<Steps headingDepth={3}>

<ol>

<Tabs
centered={true}
className={"rounded"}
defaultValue={"web"}
placeholder="Select your interface"
select={false}
size={null}
values={[{"group":"Interfaces","label":"Web","value":"web"},{"group":"Interfaces","label":"CLI","value":"cli"}]}>

<TabItem value="web">

<li>

### Sign up

<%= qovery_sign_up_web() %>

</li>

<li>

### Deploy a templated app!

<%= qovery_deploy_app_web() %>


</li>

</TabItem>

<TabItem value="cli">

<li>

### Install

<%= qovery_install_cli() %>

</li>

<li>

### Sign up

<%= qovery_sign_up_cli() %>

</li>

<li>

### Deploy a templated app!

<%= qovery_deploy_app_cli() %>

</li>

</TabItem>

</Tabs>

</ol>
</Steps>

## Deploy your app!

<Tabs
centered={true}
className={"rounded"}
defaultValue={"web"}
placeholder="Select your interface"
select={false}
size={null}
values={[{"group":"Interfaces","label":"Web","value":"web"},{"group":"Interfaces","label":"CLI","value":"cli"}]}>

<TabItem value="web">

It's as simple as deploying a template, the difference is to choose `I already have an application` instead of `I want to use a template`.

<p align="center">
  <img src="/img/i-have-an-app.png" alt="Deploy your app with Qovery" />
</p>

</TabItem>

<TabItem value="cli">

<Alert type="info">

You must provide your `Dockerfile` **OR** use one provided by us.

</Alert>

Deploying your existing application is as easy as running `qovery init`.

```bash
$ qovery init
```

The command will open an interactive project creator that will let you quickly bootstrap an application using one of existing templates or by connecting your own repository.

</TabItem>

</Tabs>

## Next Steps

To deploy your application, it's as simple as that. In the following article, we will see how to add a database. Let's get started!

<%= subpages() %>
